.example {
    right: auto;
    left: auto;
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 200px;
    color: red;
    background-color: black;
}