.content {
    color: color(red alpha(-10%));

    &:hover {
        color: color(red blackness(80%));
        background: gray(10%, 50%);
    }

    &:active {
        color: hwb(90, 0%, 0%, 0.5);
        background: #9d9c;
    }

    background: gray(85);
}

body p {
    background: rebeccapurple;
}

.dog-in {
    display: inline-block;
    width: 500px;
    height: 500px;
    background: url(../assets/dog.jpg) center no-repeat;
    background-size: cover;
}


.dog-out {
    display: inline-block;
    width: 500px;
    height: 500px;
    background: url(../assets/dog.jpg) center no-repeat;
    background-size: cover;
    filter: invert(75%);
}